extends ../layout
block content
  .panel.panel-info.text-center
    .panel-heading Nonprofit Project Application
    .panel-body
      .col-sm-10.col-sm-offset-1.col-xs-12
        h2 Do you represent a nonprofit organization that is registered with your government?
        br
        .row
          .col-xs-12.col-sm-6
            a.btn.btn-primary.btn-big(href="/how-can-free-code-camp-help-you") Yes, I represent a registered nonprofit
          .col-xs-12.col-sm-6
            a.btn.btn-warning.btn-big(href="/help-for-everyone-else") No, I don't represent a registered nonprofit
        br
