extends ../layout
block content
  .jumbotron
    h1.animated.lightSpeedIn.text-center.hug-top We'll code software solutions for your nonprofit, for free!
    .animated.fadeIn.delay-2.landing-panel-body
      h3 Our students will help you build that donor tracking system, community message board, or whatever your organization needs,&nbsp;
        strong at no cost.
