extends ../layout
block content
  .jumbotron
    .text-center
      h1.hug-top We Help Nonprofits
      h2 We'll code software solutions for your nonprofit, for free!
      .row
        .col-xs-12.col-sm-12.col-md-3
          h3.nowrap Get Connected
          img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_connect.svg.gz', title='Get great references and connections to help you get a job')
          p.landing-p Join a community of busy, motivated professionals.
        .col-xs-12.col-sm-12.col-md-3
          h3.nowrap Learn JavaScript
          img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_learn.svg.gz', title='Learn to code')
          p.landing-p Work together on Full Stack JavaScript coding challenges.
        .col-xs-12.col-sm-12.col-md-3
          h3.nowrap Build your Portfolio
          img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_portfolio.svg.gz', title='Build a portfolio of apps for nonprofits')
          p.landing-p Build apps that solve real problems for real people.
        .col-xs-12.col-sm-12.col-md-3
          h3.nowrap Help Nonprofits
          img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_nonprofits.svg.gz', title='Help nonprofits')
          p.landing-p Give nonprofits a boost by empowering them with code.
      .big-break
      h2 Nonprofits we've helped
      .row
        .col-xs-12.col-sm-12.col-md-4
          img.img-responsive.testimonial-image.img-center(src="https://s3.amazonaws.com/freecodecamp/testimonial-jen.jpg", alt="@jenthebest's testimonial image")
          .testimonial-copy Getting back on track with Free Code Camp and committing to a new career in 2015!
          h3 - @jenbestyoga
        .col-xs-12.col-sm-12.col-md-4
          img.img-responsive.testimonial-image.img-center(src="https://s3.amazonaws.com/freecodecamp/testimonial-tate.jpg", alt="@TateThurston's testimonial image")
          .testimonial-copy Just built my company's website with skills I've learned from Free Code Camp!
          h3 - @TateThurston
        .col-xs-12.col-sm-12.col-md-4
          img.img-responsive.testimonial-image.img-center(src="https://s3.amazonaws.com/freecodecamp/testimonial-cynthia.jpg", alt="@cynthialanel's testimonial image")
          .testimonial-copy  I'm currently working through Free Code Camp to improve my JavaScript. The community is very welcoming!
          h3 - @cynthialanel
      .big-break
      h2 Things we can help you build:
      .text-center.negative-35
        .col-xs-12.col-sm-12.col-md-3
          .landing-skill-icon.ion-android-globe
          h2.black-text Websites
        .col-xs-12.col-sm-12.col-md-3
          .landing-skill-icon.ion-card
          h2.black-text Donation Systems
        .col-xs-12.col-sm-12.col-md-3
          .landing-skill-icon.ion-android-calendar
          h2.black-text Volunteer Systems
        .col-xs-12.col-sm-12.col-md-3
          .landing-skill-icon.ion-ios-box
          h2.black-text Inventory Systems
        .col-xs-12.col-sm-12.col-md-3
          .landing-skill-icon.ion-university
          h2.black-text E-learning Platforms
        .col-xs-12.col-sm-12.col-md-3
          .landing-skill-icon.ion-ios-people
          h2.black-text Community Tools
        .col-xs-12.col-sm-12.col-md-3
          .landing-skill-icon.ion-ios-list
          h2.black-text Web Forms
        .col-xs-12.col-sm-12.col-md-3
          .landing-skill-icon.ion-settings
          h2.black-text ...and Other Tools
          br
          br
      .big-break

      h2 Do you represent a nonprofit organization that is registered with your government?
      .row
        .col-xs-12.col-sm-6
          a.btn.btn-primary.btn-big(href="/how-can-free-code-camp-help-you") Yes, I represent a registered nonprofit
        .col-xs-12.col-sm-6
          a.btn.btn-warning.btn-big(href="/help-for-everyone-else") No, I don't represent a registered nonprofit
