extends ../layout
block content
  .panel.panel-info.text-center
    .panel-heading Nonprofit Project Application
    .panel-body
      h2.text-center What kind of help are you looking for? Check all that apply.
      .col-xs-12.col-sm-12.col-md-3
        .landing-skill-icon.ion-android-globe
        h2.black-text Websites

      .col-xs-12.col-sm-12.col-md-3
        .landing-skill-icon.ion-card
        h2.black-text Donation Systems
      .col-xs-12.col-sm-12.col-md-3
        .landing-skill-icon.ion-android-calendar
        h2.black-text Volunteer Systems
      .col-xs-12.col-sm-12.col-md-3
        .landing-skill-icon.ion-ios-box
        h2.black-text Inventory Systems
      .col-xs-12.col-sm-12.col-md-3
        .landing-skill-icon.ion-university
        h2.black-text E-learning Platforms
      .col-xs-12.col-sm-12.col-md-3
        .landing-skill-icon.ion-ios-people
        h2.black-text Community Tools
      .col-xs-12.col-sm-12.col-md-3
        .landing-skill-icon.ion-ios-list
        h2.black-text Web Forms
      .col-xs-12.col-sm-12.col-md-3
        .landing-skill-icon.ion-settings
        h2.black-text ...and Other Tools

      .btn.btn-block.btn-primary(a href="") Next step
